.markdown-body.custom-container.details div[class*="language-"],
.markdown-body .custom-container.details div[class*="language-"] {
  margin-right: -1.6rem;
  margin-left: -1.6rem;
  border-radius: 0;
}
